@font-face {
  font-family: 'title';
  src: url(../font/anastasiascriptc.otf);
}

body {
  font-family: 'Poiret One', cursive;
}

section.dark {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px 50px 0 0;
  display: inline-block;
  width: 100%;
  z-index: 100;
  position: relative;
  padding-bottom: 105px;
}
.title {
  font-family: 'title';
  color: #5F815C;
  text-align: center;
}
h1.title {
  font-size: 72px;
}
h2.title {
  font-size: 32px;
}
.title-dark { 
  font-family: 'title';
  text-align: center;
  color: white;
}
h2.title-dark {
  font-size: 32px;
}
p.text {
  font-size: 14px;
  color: #5F815C;
  text-align: center;
  line-height: 20px;
}
p.text-dark {
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  color: white;
}
.container {
  width: 90%;
  margin: 0 auto;
}

.bg {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
.bg img {
  width: 100vw;
  height: 100vh;
}

section.main {
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__title {
  position: relative;
}
.main__title h3 {
  font-size: 72px;
  color: #5f815c79;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main__text {
  text-align: center;
}
.main__text h2 {
  margin-top: 13px;
}
.main__text p {
  margin-top: 13px;
  margin-bottom: 13px;
}
.time__text {
  padding-top: 63px;
}
.time__title {
  padding-top: 42px;
}

.time-and-address {
  color: white;
  font-size: 24px;
  text-align: center;
  position: relative;
  margin-top: 42px;
  line-height: 30px;
}
.time-and-address::before {
  content: '';
  width: 1px;
  height: 21px;
  background-color: white;
  position: absolute;
  top: -21px;
  left: 50%;
  transform: translate(0, -50%);
}
.dress__title {
  margin-top: 42px;
}
.dress__text {
  color: white;
  font-size: 16px;
  margin-top: 21px;
  text-align: center;
}
.poz__title {
  margin-top: 42px;
}
.poz__text p {
  color: white;
  font-size: 16px;
  text-align: center;
  margin-top: 21px;
  line-height: 22px;
}
.anketa__title {
  padding-top: 42px;
}

.form__item {
  margin-top: 21px;
}
p.home {
  color: white;
  font-size: 16px;
  margin-bottom: 13px;
}
label {
  color: white;
  font-size: 14px;
  position: relative;
  display: inline-flex;
  align-items: center;
}
input.form__radio {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label::before {
  content: '';
  display: inline-flex;
  width: 16px;
  height: 16px;
  background-color: white;
  box-shadow: #4431336c 0px 0px 2px;
  border-radius: 50%;
  margin-right: 10px;
}
label::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #CDB186;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  transform: scale(0);
  transition: transform 0.2s ease 0s;
}
.form__radio:checked + label::after {
  transform: scale(1);
  transition: transform 0.2s ease 0s;
}
.form__padding {
  padding: 0px 3px;
}
input.form__input {
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  color: #5F815C;
  padding: 13px 21px;
}
.radio {
  padding-top: 7px;
}
.radio__item {
  margin-top: 13px;
}
.form__submit {
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  color: #5F815C;
  padding: 13px 21px;
}

.bottom__text {
  margin-top: 63px;
}